/*
    BLUE THEME
    background-color: lighter blue
    page background: darker blue
    img -> white shadow
    title -> light blue font color
    gave center video border radius with white shadow
    toggle button has red background and white font
*/

body {
    color: white;
}

header {
    color: #00f7ff;
}

header #themeToggle button {
    background-color: red;
    color: white;
}

h2 {
    color: #fbffbd;
}
h3 {
    color: #fbffbd;
}
#rules h2 {
    color: white;
}

nav {
    background-color: #00021c;
}
#menu button{
    color: white;
}
#content {
    box-shadow: 0px 0px 20px white;
    background-color: #00053d;
}
#rules > * {
    background-color: #00021c;
}
.page {
    background-color: #00021c;
}
img {
    box-shadow: 0px 0px 20px white;
}
header #themeToggle #displayThemes *{

    box-shadow: 0px 0px 5px grey;
}
iframe {
    border-radius: 10%;

    box-shadow: 0px 0px 10px white;
}
#logVisit form div > input {
    box-shadow: 5px 5px 10px grey;
}