/*
    Things I cleaned up:
        >Deleted a LOT of repeated content from the mobile layout vs the desktop layout
        >Added a border radius to #page
        >Fixed the rules layout: make it look more neat
        >Fixed the font to be more readable
        >Fixed the broken images in Rules
    
    Things I added (to the website as a whole
        >toggle button that switches between 4 separate themes
        >Added a draw section at the bottom of 'Let's Run It'
            >turned the list of instructions into buttons that call a function
            that will display those instructions.
            >The display is done by overlapping transparent images. One image 
            is one instruction. Images were drawn using the PIL library in 
            Python.


Project 5
    Added styling for the input field
    Added attributes to the log visit 
*/

body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
/*Mobile layout*/
#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "footer footer footer footer"
        "main main main main"
        "main main main main"
        
}
#content > *{
    padding: 30px;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    color: #130f91;
}

header #themeToggle {
    height: 100px;
    width: 150px;
    grid-column-start: 1;
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
}
header #themeToggle #displayThemes {
    display: flex;
    justify-content: space-between;
    width: 150;    
    margin-bottom: 10px;
}
header #themeToggle #displayThemes *{
    height: 20px;
    width: 20px;
    border-radius: 50%;

    box-shadow: 0px 0px 10px black;
}
header #themeToggle #displayThemes #lightTheme {
    background-color: white;
}
header #themeToggle #displayThemes #darkTheme {
    background-color: #0f0f0f;
}
header #themeToggle #displayThemes #blueTheme {
    background-color: #00053d;
}
header #themeToggle #displayThemes #redTheme {
    background-color: red;
}

header #themeToggle button{
    border: none;
    font-size: 16pt;
    background-color: #0f0f0f;
    color: white;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
}

header #titleAndAnimation {
    font-size: 40pt;
    grid-column-start: 2;
    grid-column-end: span 1;
}

header #logVisitButton {
    grid-column-start: 3;
    grid-column-end: span 1;
}
header #logVisitButton button {
    font-size: 20pt;
    height: 50px;
    width: 175px;
    color: gray;
    border-radius: 12px;
    border-width: 1px;
}

main{
    grid-area: main;
}

main .page{
    display: grid;
    grid-template-columns: repeat(auto, auto);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
}
main .page > *{
    text-align: left;
    margin-top: 5%
}


main h1{
    font-size: 30pt;
    box-shadow: 0 4px 2px -2px gray !important;

}
main h2{
    font-size: 20pt;
}
main p{
    font: 12pt;
}
#menuPage {
    margin-top: 1% !important;
}
#menuPage img {
    box-shadow: none;
}

nav{
    grid-area: nav;
    font-size: 30pt;
}

#menu button {
    border: none;
    font-size: 20pt;
    padding: 1em;
    margin: -1em;
    color: grey;
    background-color: transparent;
}

#menu {
    box-shadow: 0 5px 1px -2px grey !important;
}

#menu #menuOptions{
    display: grid;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
    max-width: 100%;
}

#menu #pill{
    background-color: aqua;
    padding: 1.4em;
    margin: -1.4em;
    margin-right: 25px;
    width: 15px;
    border-radius: 12px;
    background-color: transparent;
    box-shadow: 0px 0px 20px black;
    padding-bottom: 13px;
    position: relative;
}
#rules > *{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rule5 > * {
    align-self: center;
}
#rule5 .image {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#algorithm {
    font-size: 16pt;
}

.coding {
    display: flex;
    border-left: 5px solid red;
    font-family: monospace;
    justify-content: top;
    font-size: 12pt;
    padding-left: 5px;
    margin-left: 2%;
}
.coding .codeNum {
    font-family: monospace;
    color: grey;
    display: flex;
    flex-direction: column;
}
.coding .codeNum > div {
    text-align: right;
}

.codeBlock {
    padding-left: 5px;
    text-align: left;
    margin-top: -17px;
}

#display {
    padding-bottom: 500px;
}

#displayPatterns *{
    margin-top: 30px;
    position: absolute;
    box-shadow: none;
}
#displayPatterns #displayBackground {
    height: 400px;
    width: 400px;
    border-radius: 5px;
    background-color: #2c3e50;
    box-shadow: 0px 0px 10px black !important;
}


#buttonList {
    display: flex;
    flex-wrap: wrap;
}

#buttonList button{
    height: 40px;
    width: 100px;
    flex: 0 0 14%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    color: black;
    background-color: white;
    border-radius: 3px;
}

#patternList {
    border-radius: 3px;
    border-color: black;
    height: 400px;
    overflow: scroll;
    background-color: black;
    color: white;
    font-size: 11pt;
    width: 110%;
    margin-left: -5%;
}

#patternList button {
    background-color: black;
    color: white;
    font-size: 14pt;
}

#patternList ol {
    margin-left: 5%;
}

img {
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
}

footer{
    grid-area: footer;
}

/*Input validation*/
.errorMsg {
    color: red;
}

#logVisit ul li {
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

#logVisit ul li:nth-child(n+9){
    width: 100%;
    flex-direction: row;
    margin-bottom: 5px;
}

#logVisit ul li label{
    color: black;
    font-size: larger;
}
input {
    font-size: 12pt;
}

input.was-validated:invalid {
    color: red;
    border: 1px solid red;
}


/* desktop grid */
@media screen and (min-width: 760px){
    #content{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr;
        grid-auto-rows: 100px 350px 2fr 1fr 90px;
        grid-gap: 2px;
        max-width: 100%;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "main main main main"
            "main main main main"
            "footer footer footer footer";
    }

    main{
        grid-area: main;
    }

    main .page{
        display: grid;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        grid-template-columns: repeat(auto, auto);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 20px;
        box-shadow: 0px 0px 20px black;
    }


    nav{
        grid-area: nav;
        font-size: 20pt;
    }

    #menu #pill{
        background-color: aqua;
        padding: 1.2em;
        margin: -1.4em;
        width: 6%;
        border-radius: 100px;
        background-color: transparent;
        box-shadow: 0px 0px 20px black;
        padding-bottom: 13px;
        position: relative;
    }
    #rules {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 175px 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-template-areas:
        "ti ti" 
        "r1 r2"
        "r3 r4"
        "r5 r5";
    }


    #rulesTitle {
        grid-area: ti;
    }

    #rule1 {
        grid-area: r1;
    }
    #rule2 {
        grid-area: r2;

    }
    #rule3 {
        grid-area: r3;
    }
    #rule4 {
        grid-area: r4;
    }
    #rule5 {
        grid-area: r5;
    }
    #rule5 .image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
    }
    #rule5 

    #patternList {
        font-size: 14pt;
    }

}